h1
{
	text-align: center;
}
/**
 * Cuando la propiedad margin o padding tiene dos valores,
 * se configura margin-top y margin-bottom al primer valor,
 * y margin-left y margin-right al segundo valor.
 */
.container
{
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
}
.marker
{
	width: 200px;
	height: 25px;
	margin: 10px auto;
}
.cap
{
	width: 60px;
	height: 25px;
}
.sleeve
{
	width: 110px;
	height: 25px;
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 10px double rgba(0, 0, 0, 0.75);
}
.cap, .sleeve
{
	display: inline-block;
}
.red
{
	background: linear-gradient(180deg, rgb(122, 74, 14) 0%, rgb(245, 62, 113) 50%, rgb(162, 27, 27) 100%);
	box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}
.green
{
	background: linear-gradient(#55680D, #71F53E, #116C31);
	box-shadow: 0 0 20px 0 #3B7E20CC;
}
.blue
{
	background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
	box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}
