@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body
{
    width: 100%; /* Alto */
    height: 100vh; /* Ancho */
    margin: 0; /* Margen */
    color: #273bf1; /* Color de fuente */
    background-color: #7d7d7d; /* Color de fondo */
    font-family: 'Poppins', sans-serif; /* Fuente del documento */
    font-size: 16px; /* Tamaño de fuente */
}
h1
{
    margin: 1em auto;
    text-align: center;
}
p[id="descripcion"]
{
    margin-top: 0 auto;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
}
p
{
    margin: 1em auto;
    text-align: left;
}
form
{
    margin: 0 auto;
    min-width: 300px;
    max-width: 500px;
    width: 60vw;
    padding-bottom: 2em;
}
legend
{
    font-size: large;
    margin: 0 12px;
}
fieldset
{
    border: 0;
    border-top: 3px solid #3B3B4F;
    padding-top: 0;
    padding-bottom: 2px;
}
label
{
    display: block;
    margin: 0.5rem 0;
}
.bajo-linea
{
    width: 100%;
    min-width: 300px;
    margin: 0 auto 1rem auto; /* Top Right Bottom Left */
    padding: 0.25rem;
    display: block;
}
.en-linea
{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input, textarea, select
{
    background-color: #343434;
    border: 1px solid #0A0A23;
    color: #FFFFFF;
}
input[type="submit"]
{
    display: block;
    width: 100%;
    min-width: 300px;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: white;
    background-color: #3B3B4F;
    border-color: white;
}